/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --width-max-main: 1440px;
  --font-family-base: "Lato", sans-serif;
  --color-font-primary: #fff;

  // main colors
  --color-primary: #65d36e;
  --color-secondary: #121212;
  --color-secondary-70: hsla(0, 0%, 0%, 0.7);
  --color-secondary-50: hsla(0, 0%, 0%, 0.5);
  --color-secondary-20: hsla(0, 0%, 0%, 0.2);

  // footer colors
  --color-footer-bg: #121212;

  --padding-sides: 50px;

  --header-img: url(../../../images/header-img-large.jpg);

  @media screen and (max-width: 1023px) {
    --color-secondary: #000;
    --padding-sides: 1rem;
    --header-img: url(../../../images/header-img-small.jpg);
  }
}
