.header {
  position: absolute;
  background-repeat: no-repeat;
  height: 434px;
  width: 100%;
  max-width: var(--width-max-main);

  background-position: center;
  background-size: cover;
  background-image: var(--header-img);
  background-color: var(--color-secondary);

  @media screen and (max-width: 1023px) {
    background-position: right;
  }
}