/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import "./_top-bar.scss";
@import "./_header.scss";
@import "./_heading.scss";
@import "./_main.scss";

#home-page {
  background-color: var(--color-secondary);
  min-height: 100vh;
  max-width: var(--width-max-main);
  margin: 0 auto;
}
