.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 84px;
  background-color: var(--color-secondary-50);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-sides);

  @media screen and (max-width: 1023px) {
    padding: 0 1rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    &--right {
      cursor: pointer;
      gap: 12px;
      height: 44px;
      background-color: var(--color-secondary-50);
      padding-right: 32px;
      border-radius: 22px;
      overflow: hidden;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__arrow {
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-50);

    padding: 0.9rem;
    border-radius: 50%;

    &--right {
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__user-avatar {
    height: 100%;
  }

  &__user-avatar img {
    height: 100%;
    border-radius: 50%;
    padding: 2px;
  }
}
